<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.valecom.yingul">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden" />
        <!--
        activity
            android:name=".main.SettingActivityOld"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity
        -->
        <activity
            android:name=".main.NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.NewClientActivity"
            android:label="@string/title_activity_new_client"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.NewInvoiceActivity"
            android:label="@string/title_activity_new_invoice"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.NewEstimateActivity"
            android:label="@string/title_activity_new_estimate"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.ItemPickerActivity"
            android:label="@string/title_activity_item_picker"
            android:parentActivityName=".main.NewInvoiceActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.NewInvoiceActivity" />
        </activity>
        <activity
            android:name=".main.SettingActivity"
            android:label="Mi cuenta"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.sell.SellActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.buy.BuyActivity"
            android:label="@string/title_activity_setting"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.newUserUbicationEditPersonalInfo.NewUserUbicationEditPersonalInfoActivity"
            android:label="@string/title_activity_setting"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.rememberPassword.RememberPasswordActivity"
            android:label="¿Olvidó su contraseña?"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.motorized.MotorizedFilteredActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.property.PropertyFilteredActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>

        <!-- revisar -->
        <activity
            android:name=".main.myAccount.confirmDelivery.ConfirmDeliveryActivity"
            android:label="Confirmar entrega al comprador"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.filter.FilterActivity"
            android:label="X"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.QueriesItemActivity"
            android:label="Preguntas al vendedor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.SettingLogoActivity"
            android:label="@string/title_activity_setting_logo"
            android:parentActivityName=".main.SettingActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.SettingActivity" />
        </activity>
        <activity
            android:name=".main.edit.EditImageActivity"
            android:label="Confirmar entrega al comprador"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <activity
            android:name=".main.createStore.CreateStoreActivity"
            android:label="YingulShop"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valecom.yingul.main.MainActivity" />
        </activity>
        <!-- activity android:name=".main.BuyActivity" / -->
        <activity android:name=".main.ActivityProductDetail">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.yingul.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".main.ActivityPlaceOrder" />
        <activity android:name=".main.ActivityGalleryDetail" />
        <activity
            android:name=".main.ActivityPubliSellerList"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".main.store.ActivityStore"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".main.categories.CategoryActivity" />
        <activity
            android:name=".main.categories.ItemsByCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".main.store.AllStoreActivity" />
        <activity android:name=".main.service.ServiceActivity" />
        <activity
            android:name=".main.motorized.MotorizedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".main.property.PropertyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".main.myAccount.yingulPay.YingulPayActivity" />
        <activity
            android:name=".main.over.OverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".main.allItems.AllItemsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".main.over.AllNotOverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".main.PaymentMethodActivity" />
        <activity android:name=".main.BankConditionsActivity" />
        <activity android:name=".main.ShippingActivity"></activity>
    </application>

</manifest>